@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  overscroll-behavior: none;
  /* touch-action: none; */
}

html,
body,
p,
h1,
h2,
h3,
h4 {
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}

[data-selectable] {
  user-select: text;
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
}

* {
  @apply box-border;
}

body {
  @apply bg-black font-sans text-base text-white;
}

.flex-center {
  @apply flex items-center justify-center;
}

.contain {
  @apply mx-auto;
  max-width: var(--max-w);
}

@layer components {
  main {
    @apply: min-h-screen;
  }
}

/* @media screen and (min-width: 640px) {
  .flex-center {
  }
} */
